.product-table-card {
  border-radius: 10px;
  overflow: hidden;
}

.icon-circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-size-xs {
  font-size: 0.75rem;
  letter-spacing: 0.05em;
}
